{% extends "common_user.html"%}
{% load static %}
{% block content %}

<main class="main pages">
	<div class="page-header breadcrumb-wrap">
		<div class="container">
			<div class="breadcrumb">
				<a href="../index.html" rel="nofollow">
					<i class="fi-rs-home mr-5"></i>Home </a>
				<span></span> Pages <span></span> My Account
			</div>
		</div>
	</div>
	<div class="page-content pt-150 pb-150">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-10 col-md-12 m-auto">
					<div class="row">
						<div class="col-lg-6 col-md-8">
							<div class="login_wrap widget-taber-content background-white">
								<div class="padding_eight_all bg-white">
									<div class="heading_s1">
										<h1 class="mb-5">Email Verification</h1>
									</div>
									<form method="POST" novalidate> {% csrf_token %}
										{{form.no_field_errors}}
										<div id="div_id_email" class="ctrlHolder">
											<label for="id_email">{{form.email.label_tag}}</label>
											{{form.email}}
											<span class='errorlist'>{{form.email.errors}}</span>
											{% comment %} <input type="email" name="email" maxlength="254" class="emailinput" id="id_email"> {% endcomment %}
										</div><hr>
										<div class="form-group mb-30">
											<button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="login">Verify</button>
										</div>
									</form>
									{% if messages %}
                                    <br>
                                    {% for i in messages %}
                                    <div class="alert alert-{{i.tags}}" role="alert" style='text-align:center'>
                                        {{i}}
                                    </div>  
                                    {% endfor %}
                                    {% endif %}
								</div>
							</div>
						</div>
						<div class="col-lg-6 pr-30 d-none d-lg-block">
							<img class="border-radius-15" src="{% static '/media/site_logo/imgs/Email1.png' %}" alt="Nest">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}
