{% extends "common_user.html"%}
{% load static %}
{% block content %}

<main class="main pages">
	<div class="page-header breadcrumb-wrap">
		<div class="container">
			<div class="breadcrumb">
				<a href="../index.html" rel="nofollow">
					<i class="fi-rs-home mr-5"></i>Home </a>
				<span></span> Pages <span></span> My Account
			</div>
		</div>
	</div>
	<div class="page-content pt-150 pb-150">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-10 col-md-12 m-auto">
					<div class="row">
						<div class="col-lg-6 col-md-8">
							<div class="login_wrap widget-taber-content background-white">
								<div class="padding_eight_all bg-white">
									<div class="heading_s1">
										<h1 class="mb-5">Create an Account</h1>
										<p class="mb-30">Already have an account? <a href="{% url 'User:login'%}">Login</a>
										</p>
									</div>
									<form method="POST" novalidate> {% csrf_token %}
										{{form.no_field_errors}}
										<div id="div_id_username" class="ctrlHolder">
											<label for="id_username">{{form.username.label_tag}}</label>
											{{form.username}}
											<span class='errorlist'>{{form.username.errors}}</span>
											{% comment %} <input type="text" name="username" class="form-control textinput textInput" maxlength="150" required id="id_username"> {% endcomment %}
											<div id="hint_id_username" class="formHint">usernames can't contain spaces or @/./+/-/_ characters .</div>
										</div>
										<div id="div_id_email" class="ctrlHolder">
											<label for="id_email">{{form.email.label_tag}}</label>
											{{form.email}}
											<span class='errorlist'>{{form.email.errors}}</span>
											{% comment %} <input type="email" name="email" maxlength="254" class="emailinput" id="id_email"> {% endcomment %}
										</div>
										<div id="div_id_password1" class="ctrlHolder">
											<label for="id_password1">{{form.password1.label_tag}}</label> 
											{{form.password1}}
											<span class='errorlist'>{{form.password1.errors}}</span>
											{% comment %} <input type="password" name="password1" minlength="8" class="textinput textInput" required id="id_password1"> {% endcomment %}
										</div>
										<div id="div_id_password2" class="ctrlHolder">
											<label for="id_password2">{{form.password2.label_tag}}</label>
											{{form.password2}}
											<span class='errorlist'>{{form.password2.errors}}</span>
											{% comment %} <input type="password" name="password2" minlength="8" class="textinput textInput" required id="id_password2"> {% endcomment %}
										</div>
										<div class="login_footer form-group mb-50">
											<div class="chek-form">
												<div class="custome-checkbox">
													<div class="mb-3">
														<p class="small text-center text-muted">By signing up, you confirm that you’ve read and accepted our Terms.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group mb-30">
											<button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="login">Submit &amp; Register</button>
										</div>
										<p class="font-xs text-muted">
											<strong>Note:</strong>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy
										</p>
									</form>
									{% if messages %}
                                    <br>
                                    {% for i in messages %}
                                    <div class="alert alert-{{i.tags}}" role="alert" style='text-align:center'>
                                        {{i}}
                                    </div>  
                                    {% endfor %}
                                    {% endif %}
								</div>
							</div>
						</div>
						<div class="col-lg-6 pr-30 d-none d-lg-block">
							<img class="border-radius-15" src="{% static '/media/site_logo/imgs/login.png' %}" alt="Nest">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}
